<h5 class="sidenav-heading">Main</h5>
                    <ul id="side-main-menu" class="side-menu list-unstyled">                  
                      <li><a href="/sms/welcome"> <i class="icon-home"></i>Home </a></li>
<!--                       <li class="active"><a href="staff.html"> <i class=""></i>Staffs</a></li> -->
<!--                       <li><a href="course_registration.html"><i class=""></i>Course Registration</a></li> -->
                      <li><a href="/sms/academic/student/results"> <i class=""></i>Final Results</a></li>
<!--                       <li><a href="view_registered_courses.html"> <i class=""></i>Registered Courses</a></li> -->
                      <li><a href="/sms/academic/student/fee/pay"> <i class=""></i>Fee Payment</a></li>
<!--                       <li><a href="transcript.html"> <i class=""></i>Transcript</a></li> -->
                      <li><a href="/sms/academic/student/profile"> <i class=""></i>View Profile</a></li>
                                           
                      <li><a href="/logout"> <i class="icon-interface-windows"></i>Log Out</a></li>     
                    </ul>