<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/bootstrap.css">
    <link rel="stylesheet" href="style/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" href="style/w3.css">

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/fontastic.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <link rel="stylesheet" href="css/grasp_mobile_progress_circle-1.0.0.min.css">

    <link rel="stylesheet" href="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">

    <link rel="stylesheet" href="css/custom.css">

    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                <div class="brand-text d-none d-md-inline-block"><span></span><strong class="text-primary">School Management System </strong></div></a>
            </div>
          <div class="navbar-header ">
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </nav>
        


<div class="container "> 

  <div class=" panel panel-head w3-padding w3-margin-right container-fluid" style="height: 470px;">

    <div class="container w3-display-center"><br>
      
      <center> <h1 style="font-size: xx-large; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(59, 42, 42);" >WELCOME TO THE SCHOOL <br><br> MANAGEMENT SYSTEM</h1>
         <br><br>
         <h2 style="font-size: xx-large; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(59, 42, 42);" >GET STARTED AS</h2>
<br>
<a href="login.html">     <button  class="btn btn-success w3-xlarge w3-padding">STUDENT</button></a>
<a href="login.html">     <button  class="btn btn-success w3-xlarge w3-padding">STAFF</button></a>
<a href="login.html">     <button  class="btn btn-success w3-xlarge w3-padding">ADMIN</button></a>
    </center>
    </div>



</div>

</div>
         



<!-- end of body -->
<footer class = "footer bg-dark container-fluid" style="width: 100%;">
  <div class="container">
    <p class="text-muted text-center">© Copyright FET-UB <br> Level 400 All Right Reserved 2020 Software Speciality</p>
  </div>
</footer>
   
          

</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/front.js"></script>
</html>