<h5 class="sidenav-heading">Main</h5>
<ul id="side-main-menu" class="side-menu list-unstyled">
	<li><a href="/sms"> <i class="icon-home"></i>Home
	</a></li>
	<li class="active"><a href="/sms/staff"> <i class="icon-user"></i>Staffs
	</a></li>
	<li><a href="/sms/ac/ad/student"> <i class="fas fa-user"></i>Students
	</a></li>
	<li><a href="/sms/result"> <i class="fas fa-book"></i>Results
	</a></li>
	<li><a href="/sms/report"> <i class="icon-interface-windows"></i>Report
	</a></li>
	<li><a href="/sms/fee"> <i class="fas fa-money"></i>Fee
			payments
	</a></li>
	<li><a href=" "> <i class="icon-grid"></i></a></li>

	<li><a href="/sms/login"> <i class="icon-interface-windows"></i>Login
			page
	</a></li>


</ul>