<h5 class="sidenav-heading">Admin</h5>
<ul id="side-main-menu" class="side-menu list-unstyled">
	<li><a href="/sms/welcome"> <i class="icon-home"></i>Home
	</a></li>
<!-- 	<li><a href="/sms/staff"> <i class="icon-user"></i>Staff -->
<!-- 	</a></li> -->
	<li><a href="/sms/academic/admin/add_class"> <i class="icon-user"></i>Register Class
	</a></li>
	<li><a href="/sms/academic/admin/add_subject"> <i class="icon-user"></i>Register Subject
	</a></li>
	<li><a href="/sms/academic/admin/add_staff"> <i class="icon-user"></i>New Staff
	</a></li>
	<li><a href="/sms/academic/admin/student_reports"> <i class="fas fa-user"></i>Students Reports
	</a></li>
	<li><a href="/sms/academic/admin/staff_reports"> <i class="icon-interface-windows"></i>Staff Reports
	</a></li>
	<li><a href=" "> <i class="icon-grid"></i></a></li>

	<li><a href="/logout"> <i class="icon-interface-windows"></i>Logout
	</a></li>
</ul>