<h5 class="sidenav-heading">Main</h5>
<ul id="side-main-menu" class="side-menu list-unstyled">
	<li><a href="/sms/welcome"> <i class="icon-home"></i>Home
	</a></li>
	<li><a href="/sms/academic/teachers/student/marks"> <i class="fas fa-user"></i>Register Marks
	</a></li>
<!-- 	<li><a href="/sms/report"> <i class="icon-interface-windows"></i>Reports -->
	</a></li>
<!-- 	<li><a href=" "> <i class="icon-grid"></i></a></li> -->

	<li><a href="/logout"> <i class="icon-interface-windows"></i>Logout
	</a></li>


</ul>